.purple_button {
    background-color: #7775FF;
    color: white;
    padding: 20px 75px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    color: white;
    margin-bottom: 100px;
  }
  
  .purple_button:hover {
    background-color: #8f8df0; /* Darker purple on hover */
  }