<html>

<head>
    <meta charset="utf-8">
    <title>
        Quiz
    </title>
</head>

<body>
    <center>
        <h1>Career Suggestion for UoL Students</h1>
        <h2><%= Str_Problem %></h2>
        
        <form action="/ANS" method="POST">
            <input type="hidden" name="Problem_Name" value=<%= Id_Node %>>
            <button type="submit" name="button" value="left">1.</button><%= Str_Ans1 %><br>
            <button type="submit" name="button" value="right">2.</button><%= Str_Ans2 %>
        </form>
        
    </center>
</body>

</html>


