<html>

<head>
    <meta charset="utf-8">
    <title>
        Login
    </title>
</head>

<body>
    <center>
        <h1>Login Page </h1>
        <h2><%= problem %></h2>
        <table>
            <form action="/ANS1" method="POST">
                <button type="submit">1.</button>
            </form>
            <%= ans1 %>
            <br />
            <form action="/ANS2" method="POST">
                <button type="submit">2.</button>
            </form>
            <%= ans2 %>
        </table>
    </center>
</body>

</html>


