<html>

<head>
    <meta charset="utf-8">
    <title>
        Login
    </title>
</head>

<body>
    <center>
        <h1>The Career Suggestion for You</h1>
        <h2><%= Str_Suggestion %></h2>
        
        <form action="/" method="GET">
            <input type="hidden" value=<%= Id_Node %>>
            <button type="submit">home</button>
        </form>
        
    </center>
</body>

</html>


