
.footer_section {
    color: white;
    width: 1200px;
    margin: 200px auto 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

.footer_logo {
    margin: 0 0 100px 80px;
}

.footer_links {
    width: 200px;
    margin: 0 auto;
}

.footer_links_heading {
    font-size: 20px;
}

.footer_links_text {
    line-height: 2;
}

.footer_socials_list {
    display: grid;
    grid-template-columns: 50px auto;
}

.footer_socials_list img {
    padding-top: 0;
}

.footer_socials_list p {
    margin-top: 5px;
    font-size: 16px;
}